html {
  display: flex;
  justify-content: center;
  background-color: #292f36;
  color: #f6f4f3;
}

body {
  width: 95%;
  padding: 20px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

label {
  display: block;
  margin-bottom: 3px;
}

input {
  display: block;
  height: 45px;
  width: 90%;
  color: #276fbf;
  background-color: #292f36;
  border: none;
  border-bottom-color: #f6f4f3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

input:focus {
  outline: none;
  border-color: #276fbf;
}

a {
  color: #276fbf;
  text-decoration: none;
}

a:active {
  color: #276fbf;
  text-decoration: none;
}

h2 {
  margin-bottom: 2px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: 0;
  width: 120px;
  padding: 10px;
  margin: 20px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  background-color: #00bfff;
}

button:hover {
  background-color: #33ccff;
}

.title {
    font-size: 5.2em;
    font-weight: 200;
    margin-top: 0px;
}

.title-wrapper {
    margin: 0px 100px 0px 100px;
}

.savedLinks {
    font-size: 2.5em;
    display: inline;
    margin-right: 20px;
}

.inputs {
    width: 100%;
    padding: 18px;
}

.refresh {
    font-size: 2em;
}

.refresh:hover {
    cursor: pointer;
}

